body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: large;
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcomeContainer h2 {
    font-weight: lighter;
}

.welcomeContainer h1{
    align-self: flex-start;
    width: 55%;
}

.welcomeContainer p {
    width: 100%;
    line-height: 1.6;
    color: #333;
}

.welcomeContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 55%;
}

.button-container {
    margin-bottom: 20px;
}

.create-btn,
.edit-btn,
.delete-btn,
select {
    margin: 0 10px;
    /* Add margin between buttons and select */
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.create-btn {
    background-color: #38E54D;
    color: white;
}

.create-btn:hover {
    background-color: #45a049;
}

.edit-btn {
    background-color: #C4D7E0;
    color: white;
}

.edit-btn:hover {
    background-color: #B2C8DF;
}

.delete-btn {
    background-color: #FF5D5D;
    color: white;
}

.delete-btn:hover {
    background-color: #F47C7C;
}

select {
    background-color: #3498db;
    color: white;
}

select:hover {
    background-color: #2980b9;
}

.form-container {
    margin: 20px 0;
    /* Just on the start */
    display: none;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

label {
    margin: 10px;
    text-align: left;
    flex: 1;
}

input,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

textarea {
    resize: none;
    /* Prevent dynamic resizing */
}

input:focus,
textarea:focus {
    border-color: #3498db;
    /* Highlight border on focus */
}

.book-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.ratings {
    display: flex;
    margin-top: 0%;
}

.star {
    max-width: 4%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.book-container {
    width: 55%;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 5px;
}

.book-container h2, h3{
    display: flex;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    margin-top: 0%;
    margin-bottom: 1.5%;
    text-transform: uppercase;
    font-family: "Lucida Console", Monaco, monospace;
}

.delete-form {
    align-self: flex-end;
    margin: 5px;
    padding-bottom: 10px;
}

.delete-icon {
    width: 20px;
    /* Adjust the width and height as needed */
    height: 20px;
}

.emptySpace{
    height: 50px;
    width: 100%;
}

.image {
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.resizable-image {
    width: 100%;
    height: auto;
}

.text {
    width: 100%;
    font-size: 20px;
}


